.myBG {
  height: 100vh;
  background: url("../assets/images/bg/bg2.jpg");
  background-size: cover;
}

.intro {
  height: 300px;
  display: flex;
  justify-content: end;
  align-items: end;
}

.title {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  text-shadow: 2px 2px black;
  letter-spacing: 4px;
}

.trending {
  height: auto;
  background: url(../assets/images/bg/bg1.jpg);
  background-size: cover;
}

.superhero {
  height: auto;
  background: url(../assets/images/bg/bg3.jpg);
  background-size: cover;
}

.movieImage {
  height: auto;
  background-color: black;
  margin: 5px;
  padding: 5px;
}

.images {
  height: 500px;
}

.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7); /* Biar lebih jelas */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 10px 20px;
  z-index: 1000;
}
